/* 
  =============
  Variables
  =============
*/
:root {
	--primaryColor: rgb(0, 207, 0);
	--mainBlack: #222;
	--mainWhite: #fff;
	--offWhite: #f7f7f7;
	--darkGrey: #afafaf;
	--mainTransition: all 0.3s linear;
	--mainSpacing: 0.2rem;
	--radius: 5px;
}
/* 
  =============
  Global Styles
  =============
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	color: var(--mainBlack);
	background: var(--mainWhite);
	line-height: 1.5;
	overflow-y: hidden;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	display: block;
}

h1,
h2,
h3 {
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
	margin-bottom: 1.25rem;
}
h1 {
	font-size: 3rem;
}
h2 {
	margin-bottom: 0;
}

.underline {
	width: 5rem;
	height: 0.25rem;
	margin-bottom: 1.25rem;
	background: rgb(0, 122, 221);
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding: 1rem 0;
}

.section-center {
	width: 97vw;
	margin: 0 auto;
	max-width: 970px;
}

.section-title {
	margin-top: 2rem;
	margin-bottom: 4rem;
	text-align: center;
}

.btn-back-home {
	background: rgb(0, 122, 221);
	color: var(--mainWhite);
	padding: 0.5rem 0.8rem;
	text-transform: capitalize;
	border-radius: var(--radius);
}

.btn-back-home:hover {
	background: var(--mainWhite);
	color: rgb(0, 122, 221);
	border: 2px solid rgb(0, 122, 221);
	border-radius: var(--radius);
}

@media (min-width: 370px) {
	.section-center {
		width: 93vw;
	}
}

@media (min-width: 410px) {
	.section-center {
		width: 85vw;
	}
}

@media (min-width: 760px) {
	.section-center {
		width: 65vw;
	}
}

@media (min-width: 1020px) {
	.section-center {
		width: 50vw;
	}
}

@media (min-width: 1100px) {
	.section-center {
		width: 80vw;
	}
}
/* HEADER */

.header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 100%;
	background: var(--mainBlack);
	color: var(--mainWhite);
	text-align: center;
	padding-top: 1rem;
	z-index: 101;
}

.portfolio {
	color: rgb(255, 150, 52);
	font-weight: 600;
}

.header-title {
	font-size: 1rem;
	font-weight: 300;
	margin-left: 1rem;
}

.burger-menu-icon {
	font-size: 1.5rem;
	margin-right: 1rem;
	transition: var(--mainTransition);
}

.burger-menu-icon:hover {
	transform: scale(1.2);
}

.navbar {
	background: var(--mainBlack);
	margin-top: 3.5rem;
	margin-left: 11rem;
	display: none;
	padding-right: 2rem;
	padding-bottom: 2rem;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index: 100;
}

.show {
	transition: var(--mainTransition);
	display: block;
	position: fixed;
}

.navbar li {
	list-style-type: none;
}

.navbar a {
	padding: 1rem;
	display: inline-block;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
	font-size: 1.2rem;
	color: var(--mainWhite);
	transition: var(--mainTransition);
	cursor: pointer;
}

.navbar a:hover {
	text-decoration: underline;
}

.active {
	font-weight: bold;
	text-decoration: underline;
}

.faFolderOpen-home {
	color: rgb(168, 168, 168);
	margin-right: 0.3rem;
}

.faFileCode-about {
	color: rgb(255, 221, 25);
	margin-right: 0.3rem;
}

.faFileCode-projects {
	color: rgb(255, 166, 0);
	margin-right: 0.3rem;
}

.faFileCode-contact {
	color: rgb(0, 122, 221);
	margin-right: 0.3rem;
}

.navbar a:hover {
	color: var(--mainWhite);
}

.content {
	height: 85vh;
	margin-top: 3.5rem;
	overflow-y: scroll;
}

.content p {
	font-size: 1rem;
}

.sidebar {
	background: var(--mainBlack);
	padding: 0.5rem 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	color: var(--mainWhite);
	font-size: 1.2rem;
	z-index: 98;
}

.main {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr auto auto;
}

/* VIDEO AND HERO SECTION */

.welcome-section {
	min-height: 85vh;
	position: relative;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -2;
}

.welcome-section::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	opacity: 0.05;
	z-index: -1;
}

.hero-banner {
	position: absolute;
	top: 40%;
	left: 15%;
	max-width: 300px;
}

.hero-banner h2 {
	color: var(--mainWhite);
	text-transform: uppercase;
	font-size: 1.5rem;
}

.name {
	color: rgb(69, 218, 245);
}

.description {
	color: var(--mainWhite);
	font-size: 10rem;
	margin-bottom: 2rem;
}

.job-title {
	color: var(--mainWhite);
	font-weight: bold;
	font-size: 1.5rem;
}

.banner-btn {
	padding: 0.5rem 1rem;
	color: var(--mainWhite);
	background: rgb(201, 181, 2);
	font-weight: bold;
	border: 2px solid rgb(201, 181, 2);
	margin-left: 5rem;
	border-radius: 5px;
	transition: var(--mainTransition);
}

.banner-btn:hover {
	color: var(--mainWhite);
	background: var(--mainBlack);
	font-weight: bold;
	border: 2px solid rgb(201, 181, 2);
	border-radius: 5px;
}

@media (min-width: 768px) {
	.header {
		display: block;
	}

	.header-title {
		font-size: 2rem;
	}

	.navbar {
		margin-top: 5rem;
		display: block;
		position: relative;
		margin-left: 0;
		border-radius: 0;
		padding-right: 0;
		padding-bottom: 0;
	}

	.burger-menu-icon {
		display: none;
	}

	.navbar ul {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-items: center;
	}

	.content {
		margin-top: 0rem;
		height: 75vh;
	}

	.welcome-section {
		min-height: 75vh;
		position: relative;
	}

	.hero-banner {
		position: absolute;
		top: 30%;
		left: 30%;
		max-width: 400px;
	}

	.hero-banner h2 {
		font-size: 2rem;
	}

	.banner-description {
		font-size: 5;
	}

	.banner-description span {
		color: var(--mainWhite);
		font-weight: bold;
		font-size: 2rem;
	}

	.banner-btn {
		padding: 1rem 2rem;
		margin-left: 12rem;
	}
}

@media (min-width: 992px) {
	.welcome-section {
		height: 95vh;
		position: relative;
	}

	.hero-banner {
		position: absolute;
		top: 40%;
		left: 30%;
		max-width: 800px;
		text-align: center;
	}

	.hero-banner h2 {
		color: var(--mainWhite);
		text-transform: uppercase;
		font-size: 3.5rem;
	}
}

/* ======== ABOUT ME =========== */

.title {
	margin-bottom: 3rem;
}

.connect {
	color: rgb(2, 105, 201);
}

.social-icons-holder {
	display: flex;
	justify-content: space-between;
	width: 300px;
	margin-left: 1rem;
}

.css-about {
	font-size: 2rem;
	color: rgb(0, 122, 221);
}

.react-about {
	font-size: 2rem;
	color: rgb(4, 236, 225);
}

.html-about {
	font-size: 2rem;
	color: rgb(243, 7, 7);
}

.javaScritps-about {
	font-size: 2rem;
	color: rgb(233, 210, 4);
}

.title .underline {
	margin-left: 0;
}

.about-info .underline {
	margin-left: 0;
}

.about-title p {
	max-width: 600px;
}

.btn-about {
	margin-left: 14rem;
}

@media (min-width: 768px) {
	.about {
		margin-left: 3rem;
	}

	.about-center {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 3rem;
	}
}
@media (min-width: 992px) {
	.content {
		margin-top: 0rem;
		height: 95vh;
	}

	.about {
		margin-top: 1rem;
		font-size: 2rem;
	}

	.title {
		margin-top: 10rem;
	}
	.btn-about {
		margin-left: 20rem;
		font-size: 1rem;
	}

	.social-icons-holder {
		display: flex;
		justify-content: space-between;
		width: 450px;
		margin-top: 0.5rem;
	}

	.css-about {
		font-size: 3rem;
	}

	.react-about {
		font-size: 3rem;
	}

	.html-about {
		font-size: 3rem;
	}

	.javaScritps-about {
		font-size: 3rem;
	}

	.about-info {
		margin-left: 3rem;
	}
}

/* PROJECTS SECTION  */

.section-projects {
	background: black;
	color: var(--mainWhite);
}
.projects-title {
	color: rgb(201, 181, 2);
}

.project-center {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 2rem 1rem;
}

/* SINGLE CARD  */

.card {
	position: relative;
	height: 46rem;
	max-width: 22rem;
	border: 1px solid rgb(175, 174, 174);
	border-radius: var(--radius);
	background: var(--mainBlack);
	perspective: 1500px;
}

.card-info {
	padding: 1rem 1.5rem;
}

.description-holder {
	height: 280px;
	border-radius: var(--radius);
}

.card-info h5 {
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
	text-transform: capitalize;
}

.card-info p {
	font-size: 0.8rem;
}

.card-front {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.card-front img {
	height: 19rem;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	object-fit: cover;
}

.card-links-container {
	position: absolute;
	z-index: 100;
	background: rgb(0, 122, 221);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
	padding: 0.3rem 0;
}

.back-card-link {
	margin-left: 1.5rem;
	color: black;
	font-size: 1.7rem;
	transition: var(--mainTransition);
}

.back-card-link:hover {
	margin-left: 1.5rem;
	color: var(--mainWhite);
	transform: scale(1.2);
	font-size: 1.7rem;
}

.footer-languages {
	margin-top: 0.5rem;
	padding-top: 0.5rem;
	display: flex;
	border-top: 1px solid rgb(175, 174, 174);
	justify-content: space-between;
}

.footer-languages h4 {
	margin-left: 0.5rem;
}

.footer-lang {
	font-size: 1.5rem;
}

@media (min-width: 768px) {
	.card {
		height: 47rem;
		max-width: 30rem;
	}

	.card-info h5 {
		text-align: center;
		font-weight: bold;
		font-size: 1.2rem;
		text-transform: capitalize;
	}

	.card-info p {
		font-size: 1rem;
	}

	.description-holder {
		height: 324px;
		border-radius: var(--radius);
	}
}

/* CONTACT */

/*
=============== 
Contact
===============
*/

.contact {
	height: 80vh;
	background: var(--mainWhite);
}

.contact-container {
	margin-top: 4rem;
}

.contact-form,
.contact-info {
	margin: 1rem 0;
}

.contact-item {
	margin-bottom: 1.75rem;
}

.contact-title {
	color: rgb(240, 176, 2);
	font-weight: bolder;
	font-size: 2rem;
}

.form-icon {
	margin-right: 1rem;
}

.contact-text {
	text-transform: lowercase;
	font-size: 1.5rem;
}

.contact-form {
	background: var(--mainWhite);
	border-radius: var(--radius);
	border: 1px solid rgb(2, 105, 201);
	padding: 2rem;
	text-align: center;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	transition: var(--transition);
	max-width: 35rem;
	max-height: 40rem;
}

.contact-form:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.contact-form h3 {
	padding-top: 1.3rem;
}

.contact-form span {
	color: rgb(2, 105, 201);
}

.form-group {
	padding: 1rem 1.5rem;
}

.form-control {
	display: block;
	width: 100%;
	padding: 0.75rem 1rem;
	border: none;
	margin-bottom: 1.5rem;
	background: rgb(202, 202, 202);
	border-radius: var(--radius);
	text-transform: uppercase;
	letter-spacing: var(--spacing);
}

.form-control::placeholder {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--mainBlack);
}

.submit-btn {
	font-weight: bold;
	text-transform: capitalize;
	display: block;
	background: rgb(2, 105, 201);
	border: 1px solid rgb(2, 105, 201);
	width: 100%;
	padding: 1rem;
	border-radius: var(--radius);
	cursor: pointer;
	transition: var(--mainTransition);
}

.submit-btn:hover {
	background: var(--mainWhite);
	color: rgb(2, 105, 201);
	border: 1px solid rgb(2, 105, 201);
}

@media (min-width: 768px) {
	.contact {
		height: 90vh;
	}

	.contact-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-top: 10rem;
	}
}

/* SOCIAL MEDIA BAR */

.sidebar {
	background: var(--mainBlack);
	padding: 0.5rem 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	color: var(--mainWhite);
	font-size: 1.2rem;
	z-index: 98;
}

.sidebar a {
	font-size: 2rem;
	color: var(--mainWhite);
}

/* BIG SCREEN LAYOUT  */

@media (min-width: 992px) {
	.project-center {
		gap: 3rem 4rem;
	}

	.main {
		grid-template-columns: [start] 200px [col-1-end] 1fr [col-2-end] 50px [end];
		grid-template-rows: [start] auto [row-1-end] 1fr [row-2-end] auto [end];
	}
	.header {
		grid-column: start/end;
		grid-row: start/row-1-end;
	}
	.navbar {
		margin-top: 3rem;
		grid-column: start/col-1-end;
		grid-row: row-1-end/row-2-end;
	}
	.content {
		margin-top: 3.5rem;

		grid-column: col-1-end/col-2-end;
		grid-row: row-1-end/row-2-end;
	}
	.sidebar {
		grid-template-columns: 1fr;
		align-items: center;
		border-radius: 1px;
		grid-column: col-2-end/end;
		grid-row: row-1-end/row-2-end;
	}

	.navbar ul {
		grid-template-columns: 1fr;
		min-height: 100%;
		align-items: center;
	}
}
